.main-container {
  display: flex;
}

.contents-container {
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 12%;

}

.header-container {
  padding-bottom: 5%;
}

* {
  font-family:'Josefin Sans', sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 70px;
  color: hsl(0, 93%, 68%);
  margin-bottom: 0.5%;
  border-bottom: 0;
  padding-bottom: 0.5%;
}

h2 {
  font-weight: 400;
  font-size: 65px;
  margin-top: 0.5%;
  border-top: 0;
  padding-top: 0.5%;
  margin-bottom: 0.5%;
  border-bottom: 0;
  padding-bottom: 0.5%;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  color: hsl(0, 93%, 68%);
}

.email-submission-container {
  width: 400px;
  max-width: 100%;
  position: relative;
}

.email-input {
  width: 100%;
}

.submit-email-button {
  position: absolute;
  right: 0;
  top: 0;
}